<%
    const _template = require(__path.helper+'/template');
    var item = item || {created: {}};
    let thumb = _template.showThumb({
        classes: 'direct-chat-img',
        thumb: item.user.thumb,
        alt: item.user.username,
        controller: 'user',
    })
    let created = _template.showMessengerMsgHistory({time: item.created});
%>

<div class="direct-chat-msg">
    <div class="direct-chat-info clearfix">
        <span class="direct-chat-name pull-left"><%= item.user.username %></span>&nbsp;&nbsp;
        <!-- 
        <span class="direct-chat-timestamp pull-right"><%= created %></span>
         -->
    </div>
    <%- thumb %>
    <div class="direct-chat-text" title="<%= created %>"><%- item.content %></div>
</div>