<% 
    let themeFolder = 'admin_theme';
%> 
<base href="/">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>SB Admin 2 - Dashboard</title>

<!-- Custom styles for this template-->
<link href="<%=themeFolder%>/css/sb-admin-2.css" rel="stylesheet">

<!-- Core css -->
<link href="<%=themeFolder%>/vendor/jquery-ui/jquery-ui.css" rel="stylesheet">

<link href="<%=themeFolder%>/css/style.css" rel="stylesheet">

<!-- croppie -->
<link href="<%=themeFolder%>/plugin/croppie/croppie.css" rel="stylesheet">

<link rel="stylesheet" href="<%=themeFolder%>/css/style.css">
